# m     h       dom     mon     dow     user    command
{{ hostvars[inventory_hostname].update_steam_hour }}      {{ hostvars[inventory_hostname].update_steam_minute }}      *       *       *       steam   /usr/local/bin/update_steam


